body,html
{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Noto Sans KR",sans-serif;
    color: white;

    overflow: hidden;   
}

.state_bar
{
    z-index: 2;
    background-color: blueviolet;
    position: absolute;
    right: 5rem;
}

.wrapper
{
    height: 100%;
    width: 100%;
}

.vite_bar
{
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 5px;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    position: fixed;
    left: 0;

    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
}

.vite_testo, .vite_bar i
{
    color: red;
}

.vite_bar i
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;

    font-size: 20px;
}

.quiz_wrapper
{
    z-index: 3;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    
}

.quiz_body
{
    z-index: 3;  
    background-color: transparent;
    
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 16px;

    display: grid;
    grid-row-gap: 5px;
}

.quiz_body form
{    
    display: grid;
    grid-template-columns: repeat(4, 1fr) 50px;
    grid-column-gap: 5px;
}

@media (max-width:1296px){
    .quiz_body form
    {    
    }
}

.inputBox
{
    background-color: transparent;

    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(0, 185, 146);

    font-weight: bold;
    color: grey;
    background-color: rgb(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5px;

    transition: all 0.2s ease-in-out;
}

.inputBox:hover
{
    border: 2px solid rgb(0, 185, 146);
    color: rgb(0, 185, 146);
}

.bottone_quiz
{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 30px;

    color: black;

    transition: all 0.5s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.bottone_quiz:hover
{
    color: rgb(0, 185, 146);
}

.bottone_quiz:focus
{
    outline: none;
}

#risultato_a:checked:checked ~ .option-1,
#risultato_b:checked:checked ~ .option-2,
#risultato_c:checked:checked ~ .option-3,
#risultato_d:checked:checked ~ .option-4{
  border-color: rgb(0, 185, 146);
  background: rgb(0, 185, 146);
  color: white;
}

input
{
    display: none;
}

.up
{
    transform: translateY(-100%);
}

.shadow
{
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: transparent;

    transition: all 1s ease-in-out;
}

.giusto, .sbagliato
{
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: transparent;

    transition: all 0.5s ease-in-out;
}

.bottone_giusto, .bottone_sbagliato
{
    border: none;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 150px;
    font-weight: bold;
    color: black;
    background-color: rgb(0, 185, 146);
    text-align: center;
    align-self: center;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition-duration: 0.30s;

}

.alert
{  
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;

    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 15px;
  
    display: grid;
    grid-template-rows: repeat(2, auto) 45px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px 5px 5px 5px;
}


.alert_giusto, .alert_sbagliato
{  
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 97px;

    background-color: rgb(0, 185, 146);
    border-radius: 10px;
    color: white;
    padding: 10px;
  
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px 5px 5px 5px;
}

.alert_sbagliato
{
    background-color: tomato;
}

.alertTitle, .alertText, .alertTitleAnswer, .alertTextAnswer
{
    text-align: center;
}

.alertTitle, .alertText
{
    grid-column: 1/-1;;
}

.alertTitle, .alertTitleAnswer
{
    font-size: 20px;
    font-weight: bold;
}

.fa-check, .fa-times
{
    grid-column: 1;
    grid-row: 1/-1;

    font-size: 50px;
    margin: auto;
}

.btn-alert1, .btn-alert2
{
    border: none;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 150px;
    height: 100%;
    font-weight: bold;
    color: black;
    background-color: rgb(0, 185, 146);
    text-align: center;
    align-self: center;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition-duration: 0.30s;
}

.btn-alert1:hover, .btn-alert2:hover
{
    background-color: rgb(0, 228, 178);
}

.alert input
{
    display: block;
}

@media all and (max-width: 700px){
    .quiz_wrapper
    {
        padding: 0px;
    }

    .quiz_body form
    {    
        grid-template-columns: repeat(2, 1fr) 30px;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5px;

        grid-row-gap: 5px;
    }

    .quiz_body form div
    {    
        height: 100%;
        grid-row: 1/-1;
        grid-column: 3;
    }

    .option-1, .option-2
    {
        grid-row: 1;
    }

    .option-3, .option-4
    {
        grid-row: 2;
    }
}