body,html
{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Noto Sans KR",sans-serif;
    color: white;

    overflow-x: hidden;   
}

.shadowUp
{
  transform: translateY(-100%);
}

.shadow
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;

  z-index: 6;
  transition: all 0.6s ease-in-out;
}

.alert
{  
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  background-color: transparent;
  padding: 0;

  display: grid;
}

.alertContainer
{
  grid-row: 1/1;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 10px;
  
  z-index: 5;

  color: black;
  padding: 0px 10px 10px 10px;
}

.fakeBack
{
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color: trasparent;
  padding: 0;

  display: grid;
  grid-template-rows: 50px auto;

  grid-row: 1/1;
}

.alertTop
{  
  text-align: center;
  color: white;
}

.alertText, .alertTitle, .alertBtn
{
  width: 100%;
  text-align: center;
}

.alertTitle
{
  font-size: 20px;
  font-weight: bold;
}

.circleWrapper{
  margin: auto;
  background-color: rgb(0, 185, 146);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.circle
{
  font-size: 75px;
  padding: 12.5px;
}

.back1
{
  background-color: transparent;
}

.back2
{
  border-radius: 7px;
  background-color: rgb(249, 249, 249);
}

.wrapper
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  inset: 0px;
  display: grid;
  grid-template-rows: 50px auto;
  background-color: trasparent;
  background-size: cover;

  z-index: 5;
}

.background
{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

  z-index: 1;
  display: block;
}

.top_bar
{
    background-color: rgba(0,0,0,.3);
    display: grid;
    grid-template-columns: auto 1000px auto;

    padding-left: 5%;
    padding-right: 5%;
}

.top_bar_wrapper
{
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo
{
    background-color: transparent;
    grid-column: 1;

    display: grid;
    grid-template-columns: 50px auto;
}

.logo img
{
  width: 45px;
  height: 45px;

  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.logo testo_logo{
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 0;
  font-size: 20px;
  cursor: pointer;
}

.menu
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content:flex-end;
    margin-left: auto;

    font-weight: bold;
    font-size: 1rem;
}

.menu a
{
  float: left;
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;

  width: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu a:hover
{
  color: rgb(0, 185, 146);
}

.switchButton
{
  grid-column: 3/3;
  grid-row: 1/1;

  transition: all 0.5s ease-in-out;
}

.page
{
    background-color: transparent;
}

.front
{
  display: grid;
  grid-template-columns: auto 1000px auto;
  height: 100vh;
}

.front_wrapper
{
  grid-column: 2;
  display: grid;
  grid-template-columns: auto 250px;
  grid-column-gap: 100px;
}

.text-area
{
  grid-column: 1;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;

  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 20px;
}

.text-area h1
{
  margin: 0px;
}

.text-area line
{
  border-bottom: solid 1px white;
}

.error, .login_error
{
   color:rgb(255, 17, 17);
   font-weight: bold;
   font-size: 13px;
}

.signUpError
{
   grid-column: 1/-1;
}

.moveLeft
{
  transform: translateX(200%)
}

.moveUp
{
  /*animation: move-up 0.5s ease-in-out;*/
  transform: translateY(-100%)
}

.login
{
  grid-row: 1;
  grid-column: 2;
  padding-left: 15px;
  padding-right: 15px ;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0,0,0,.3);

  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 5px 5px 5px #000000;  
  transition: all 0.8s ease-in-out;
}

.login_content
{
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-row-gap: 10px;
}

.login_error
{
  display: none;
}

.sign_up_content
{
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-row-gap: 10px;
}

.login loginTop, .sign_up sign-upTop
{
  align-self: center;
  text-align: center;
  border-bottom: solid 1px white;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
}

.inputbox
{
  display: grid;
  grid-template-columns: 25px  auto;
  grid-template-rows: auto auto;
}

.inputbox input
{
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  padding: 15px;
}

.inputbox input:focus
{
  outline-width: 0;
}

.inputbox i
{
  align-self: center;
  text-align: center;
}

.btn-login, .btn-sign_up, .btn-alert, .btn-tutorial
{
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 150px;
  font-weight: bold;
  color: black;
  background-color: rgb(0, 185, 146);
  text-align: center;
  align-self: center;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition-duration: 0.30s;
}

.btn-login:hover, .btn-tutorial:hover, .btn-sign_up:hover
{
  background-color:rgb(249, 249, 249);
}

.btn-alert
{
  width: 100%;
  border-radius: 5px;  
  color: black;
}

.btn-tutorial
{
  margin-left: 0;
  background-color: transparent;
  color: white;
  border: white solid 2px;
}

.btn-tutorial:hover
{
  color: black;
}

.btn-alert:hover
{
  background-color: rgb(0, 228, 178);
}


iconwrapper
{
  text-align: center;
  border-top: solid 1px white;
  padding: 20px;
}

iconwrapper i
{
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
}

.scelta
{
  padding-left: 15px;
  width: 100%;
  background-color: transparent;
}

.nazione
{
  margin-top: 10px;
}

select.icon-menu option {
  
  background-repeat:no-repeat;
  background-position:bottom left;
  padding-left:30px;
}

.icon-menu
{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;  
}

option[value=""][disabled] {
  display: none;
}
option {
  background-color: black;
  color: white;
  border: none;
}

select
{
  margin-top: auto;
  margin-bottom: auto;
  color: grey;
}

select:focus
{
  border:none;
}

.sign_up
{
  grid-row: 1;
  grid-column: 2;
  padding-left: 15px;
  padding-right: 15px ;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0,0,0,.3);

  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 5px 5px 5px #000000;
  transition: all 0.8s ease-in-out;
}

.leaders
{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: auto 1000px auto;  

  padding-top: 15px;
  padding-bottom: 15px;

  background-color: rgb(1, 6, 6);
}


.leaders_wrapper
{ 
  grid-column: 2;

  width: 100%;   
  padding: auto;

  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;

  padding-top: 0px;
  padding-bottom: 20px;
}

.leaders h1
{
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

.leader
{
    background-color: rgb(249, 249, 249);
    color: black;
    text-align: center;
    border-radius: 5px;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 10px;
    padding: 10px;
}

.top_leader
{
  display: grid;
  grid-template-columns: auto 140px auto;
}

.user_profile, .user_medal
{
  height: 140px;
  width: 140px;

  grid-column: 2;
  grid-row: 1;
}

.user_medal
{
  height: 50px;
  width: 40px;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-top: auto;
}

.username
{
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.score
{
  background-color: rgb(0, 185, 146);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: auto;
}

.players
{
  display: grid;
  grid-template-columns: auto 1000px auto;

  padding-top: 15px;
  padding-bottom: 15px;

  background-color: rgb(249, 249, 249);
  color: black;
}

.players_wrapper
{
  grid-column: 2;
}

.title_low
{
  font-weight: bold;
}

.title_center
{
  margin-left: auto;
  margin-right: auto;
}

.line
{
  width: 100%;
  background-color: rgb(170, 170, 170);
  border-radius: 2px;
  height: 1px;
}

.player
{
  height: 35px;
  border-radius: 5px;

  padding: 5px 10px 5px 10px;

  display: grid;
  grid-template-columns: 75px 130px 1fr 1fr 1fr;
}

.position_low, .user_profile_low, .username_low, .highscore_low, .total_matches_low
{
  margin-top: auto;
  margin-bottom: auto;
}

.position_low, .highscore_low, .total_matches_low
{
  text-align: center;
}

.user_profile_low
{
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.highscore_low
{
  background-color: rgb(0, 185, 146);
  font-weight: bold;
  width: 100px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  margin: auto;
}

.footer
{
  height: 147px;
  width: 100%;
  background-color: rgb(16, 21, 34);

  display: grid;
  grid-template-columns: auto 1000px auto;
}

.footer_wrapper
{
  padding: 10px;
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}