<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/63209a46b9.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" type="text/css" href="css/ranking.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/ranking.js"></script>  
    <title>homepage</title>
</head>
  <body>
      <div class="wrapper">
        <div class="top_bar">
            <div class="top_bar_wrapper">
                <div class="logo" onclick="window.location.href = 'index.php';">
                    <img src="assets/logo.png">
                    <testo_logo> SPOTME </testo_logo>
                </div>
                <div class="menu">
                    <a href="tutorial.html">TUTORIAL</a>
                    <a href="ranking.html">RANKING</a>
                    <a href="index.php" id="button">LOGIN</a>
                </div>
            </div>
        </div>

        <div class="page" id="app">
            <div class="leaders" id="leaders">              
                <div class="leaders_wrapper">
                  <h1>Classifica</h1>
                  <div class="leader" v-for="user in users.slice(0, 3)">
                    <div class="top_leader">                            
                      <img v-bind:src="user.nationality" class="user_profile">
                      <img v-bind:src="user.medal" class="user_medal">
                    </div>
                    <div class="username">{{user.username}}</div>
                    <div class="score">Highscore: {{user.highscore}}</div>
                    <div class="low_bar">Giocate: {{user.totale_matches}}</div>
                  </div>
                </div>
            </div>
            <div class="players">
                <div class="players_wrapper">
                    <div class="player">
                      <i v-if="low >= 50" class="fas fa-backward title_low" v-on:click="prev()"></i>
                      <div class="title_low title_center first_title">Posizione</div>
                      <div class="title_low title_center">Profilo</div>
                      <div class="title_low">Username</div>
                      <div class="title_low title_center">Punteggio</div>
                      <div class="title_low title_center">Partite giocate</div>
                      <i v-if="top < lenght" class="fas fa-forward title_low" v-on:click="next()"></i>
                    </div>
                    <div class="line"></div>
                    <div class="player" v-for="user in users.slice(getLow(), getTop())">
                      <div class="position_low">#{{user.ranking}}</div>
                      <img class="user_profile_low" v-bind:src="user.nationality"></img>
                      <div class="username_low">{{user.username}}</div>
                      <div class="highscore_low">{{user.highscore}}</div>
                      <div class="total_matches_low">{{user.totale_matches}}</div>
                    </div>
                </div>                                   
            </div>
            <div class="footer">
                <div class="footer_wrapper">
                  <div class="col1">
                    Michele si inventi qualcosa per il footer...
                    Michele si inventi qualcosa per il footer...
                    Michele si inventi qualcosa per il footer...                  
                  </div>
                  <div class="col2">
                    Michele si inventi qualcosa per il footer...
                    Michele si inventi qualcosa per il footer...
                    Michele si inventi qualcosa per il footer...                  
                  </div>
                  <div class="col3">
                    Michele si inventi qualcosa per il footer...
                    Michele si inventi qualcosa per il footer...
                    Michele si inventi qualcosa per il footer...                  
                  </div>
                </div>
            </div>
        </div>
      </div>
  </body>
</html>
